@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SairaStencilOne";
  src: local("SairaStencilOne-Regular"), url("../fonts/SairaStencilOne-Regular.woff") format("woff2"),
    url("../fonts/SairaStencilOne-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, serif;
  background-color: $modal-background;
  margin: 0;
  padding: 0;

  @media (max-width: 1150px) {
    background-color: $white;
  }
}

:root {
  --swiper-pagination-bottom: 5px;
  --swiper-theme-color: #6f6f6f !important;
  --swiper-pagination-bullet-horizontal-gap: 3px !important;
  --swiper-pagination-bullet-size: 6px !important;

  @media (max-width: 1150px) {
    --swiper-pagination-bottom: 5px;
    --swiper-theme-color: #4b8ff5 !important;
    --swiper-pagination-bullet-horizontal-gap: 2px !important;
    --swiper-pagination-bullet-size: 5px !important;
  }
}

*,
*::before,
*::after {
  scroll-behavior: smooth;
  box-sizing: inherit;
}

.container {
  padding: 0 70px;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 1150px) {
    padding: 0 30px;
  }

  @media (max-width: 750px) {
    padding: 0 15px;
  }
}

.substrate-mobile {
  padding: 17px 15px;
  background-color: $modal-mobile-background;
  border: 1px solid $boder-mobile;
  border-radius: 12px;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--bottom-border {
      padding-bottom: 16px;
      border-bottom: 1px solid #c0d1eb;
    }
  }
}
