@mixin defineFontMontserrat($weight, $size, $lh) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
}

@mixin defineFontSairaStencilOne($size, $lh) {
  font-family: 'SairaStencilOne', sans-serif;
  font-weight: 400;
  font-size: $size;
  line-height: $lh;
}
