$main-color: #b8b6f4;

$accent: #8e6cea;
$accent-placeholder: rgba($accent, 0.75);
$blue-name: rgba(#8e6cea, 0.85);
$blue-name--sub: #6238d3;
$shadow: #7c36c5;
$interacting: #ba79fe;

$black: #151515;
$grey: #808191;
$grey-lighten: #eee9fc;
$grey-lighten2: #dde3f1;
$grey-lighten3: #eff2f9;
$white: #ffffff;

$green: #2cef34;
$green-btn: #96ff43;

$star: #ffd80d;
$error: #ed2c38;
$graphite: #272931;
$softRed: #f93c47;

$darkish: #222222;
$pale: #f4f4f4;
