$primary: #4b8ff5;
$primary-blur: #d8e3ff;

$accent: #ffc96d;
$accent-dark: #f8b94e;

$filter-background: #f2f2f2;
$filter-border: #dedede;

$modal-background: #f8f8f8;

$white: #ffffff;
$grey: rgba(238, 238, 238, 0.9);
$black: rgba(0, 0, 0, 0.9);
$black-light: rgba(36, 36, 36, 0.9);
$black-contrast: #1b1414;
